html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.log {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-top: 30px;
  background: gray;
  margin: 20px;
}

.inp {
  width: 400px;
  height: 40px;
  text-align: center;
  background: cyan;
  color: white;
  font-size: 20px;
}

.but {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: red;
  color: white;
  font-size: 20px;
}

#chat {
  display: flex;
}

#users {
  border-right: 2px solid black;
}

.top {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background: grey;
}

.regi {
  color: white;
}

.top-chat {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background: lightblue;
  height: 1000px;
}

i {
  font-size: 80px !important;
  color: white;
}
